/* Progress bar ======================= */
.bar-1, .bar-3 {
    position: fixed;
    height: 8px;
    background-color: #3b8334;
    z-index: 900;
    width: 0%;
    box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.18);
}

.bar-2, .bar-4 {
    position: fixed;
    width: 8px;
    background-color: #3b8334;
    z-index: 900;
    height: 0%;
    box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.18);
}

.bar-1 {
    top: 0;
    left: 0;
}

.bar-2 {
    top: 0;
    right: 0;
}

.bar-3 {
    bottom: 0;
    right: 0;
}

.bar-4 {
    bottom: 0;
    left: 0;
}
/* End of progress bar ======================= */

::-webkit-scrollbar {
    width: 0 !important
}

section {
    height: 100vh;
}
