/* Progress bar ======================= */
.bar {
    position: fixed;
    height: 4px;
    background-color: rgb(94, 94, 94);
    z-index: 900;
    width: 0%;
    box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.18);
    top: 0;
    left: 0;
}
/* End of progress bar ======================= */

/* Side menu ===========================*/
.pagination {
	position:fixed;
	right:20px;
	top: 50%;
    transform: translateY(-50%);

	font-size:1.4em;
	z-index: 10;
}
.pagination a {
	display:block;
	height:20px;
	margin-bottom:5px;
	color:white;
	position:relative;
	padding:4px;
}
.pagination a.active:after {
	box-shadow:inset 0 0 0 5px;
}
.pagination a .hover-text {
	position:absolute;
	right:15px;
	top:3px;
	opacity:0;
	-webkit-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	padding-right: 15px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: small 
}
.pagination a:hover .hover-text {
	opacity: 1;
}
.pagination a:after {
	-webkit-transition:box-shadow 0.5s ease;
	transition:box-shadow 0.5s ease;
	width:10px;
	height:10px;
	display: block;
	border:1px solid;
	border-radius:50%;
	content:'';
	position: absolute;
	margin:auto;
	top:0;
	right:4px;
	bottom:0;
}
/* End Side menu ================= */

/* General ======================*/
body {
	color:white;
    line-height: 1;
}

#logo{
	position: fixed;
	height: 10%;
	width: 7%;
	margin-top: 2%;
	margin-left: 2%;
}

.home {
}
.about {
	background:#ec8200;
	background:hsl(28,100%,52%);
}
.projects {
	background:#64a0d4;
	background:hsl(200,60%,55%);
}
.contact {
	background: url("../img/cityMap1.jpg") no-repeat center center;
	background-size: cover;
	height: 100%;
	overflow: hidden;
}

ol, ul {
	list-style: none;   
}

video {
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	object-fit:fill;
	z-index: -99;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}